@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    background-color: #1e1d2b;
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 0 150px;
}

.cabecera {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 25%;
    justify-items: flex-start;
    align-items: center;
    margin: 40px 20px 20px 40px;
    font-size: 1.7vw;
}

.cabecera h2 {
    color: #ff702a;
}

.menu {
    justify-self: end;
    margin-right: 40px;
}

.menu a {
    padding: 30px;
    color: #fff;
}

.cuadro1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: 75%; */
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    /* grid-auto-rows: 10vh; */
}

#home {
    width: 80%;
    /* height: 500px; */
    /* justify-self: flex-start;
    margin-top: 40px; */
    object-fit: contain;
}

.titulo2 h1{
    color: #ff702a;
    font-size: clamp(36px, 5vw, 80px);
    margin-bottom: 10px;
}

.titulo2 p{
    color: #fff;
    font-size: clamp(15px,5vw,40px);
}

.titulo2 button {
    background-color: #ff702a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    /* border-radius: 1vw; */
    padding: 10px 25px 10px 25px;
    border: none;
    /* font-size: 1vw; */
}

.cuadro2 {
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-auto-rows: auto; */
    justify-items: center;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    /* height: 100%; */
    border: 1px solid blue;

}

#about {
    /* width: 32vw;
    height: 32vw; */
    width: 80%;
    /* justify-self: flex-end; */
    /* margin-top: 40px;
    margin-right: 80px; */
    object-fit: contain;
    /* order: 1; */
}

.aboutUs{
    color: #ff702a;
    margin-bottom: 5px;
    
}

.titulo3 {
    margin-left: 20px;
   
}

.titulo3 h2{
    color: #fff;
    /* font-size: 2.5vw; */
    margin: 10px 0 10px 0;
    font-size: clamp(15px,5vw,40px);
}

.texto {
    /* font-size: 1.3vw; */
    color: #fff;
    font-size: clamp(15px,5vw,30px);
}

.titulo3 button {
    background-color: #ff702a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    /* border-radius: 1vw; */
    padding: 10px 25px 10px 25px;
    border: none;
    /* font-size: 1vw; */
}


/* .cuadro3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-template-rows: 1fr 2fr;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
     justify-items: center;
    align-items: center;
} */

.cuadro3 {
    width: 100%;
}

.titulo4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: solid 1px red;
    width: 800px;
}

.productos img {
    height: 15vw;
    width: 15vw;
    object-fit: contain;
}

.productos {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: 1fr; */
    gap: 50px;
    /* justify-items: center; */
    border: solid 1px red;
    /* width: 800px; */
    /* margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px; */

}



.productos h5 {
    color: #ff702a;
}

/* .titulo4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.titulo4 h3 {
    color: #ff702a;
    /* font-size: 1.2vw; */
    margin-bottom: 0px;
    font-size: clamp(15px,5vw,40px);
}

.titulo4 h2 {
    color: #fff;
    /* font-size: 3vw; */
    margin-top: 10px;
    font-size: clamp(15px,5vw,40px);
}

/* .productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
} */

.producto1, .producto2, .producto3 {
    display: flex;
    background-color: #ffefe8;
    padding: 2%;
    flex-direction: column;
    align-items: center;
    /* width: 20vw; */
    height: auto;
    
}

.producto1 div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: clamp(15px,5vw,25px);
    text-align: center;
}

.producto2 div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: clamp(15px,5vw,25px);
    text-align: center;
}
.producto3 div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: clamp(15px,5vw,25px);
    text-align: center;
}

.producto1 h3, h4, h5 {
    margin: 2px;
}

.producto2 h3, h4, h5 {
    margin: 2px;
}

.producto3 h3, h4, h5 {
    margin: 2px;
}



.cuadro4 {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center; */
    width: 100%;
}

.servicios img {
    height: 15vw;
    width: 15vw;
    object-fit: contain;
}

.titulo5 {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; */
    text-align: center;
}

.titulo5 h3 {
    color: #ff702a;
    /* font-size: 1.2vw; */
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: clamp(5px,5vw,25px);
}

.titulo5 h2 {
    color: #fff;
    /* font-size: 3vw; */
    margin-top: 10px;
    font-size: clamp(15px,5vw,40px);
}

.servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.servicios h3 {
    color: #ff702a;
    font-size: clamp(15px,5vw,35px);
}

.servicios p {
    color: #fff;
    text-align: center;
    /* width: 1vw;
    height: 1vw; */
    font-size: clamp(15px,5vw,23px);
}

.servicio1, .servicio2, .servicio3 {
    display: flex;
    /* background-color: #ffefe8; */
    padding: 5%;
    flex-direction: column;
    align-items: center;
}

.servicio1 div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.6vw;
}

.servicio2 div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.6vw;
}
.servicio3 div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.6vw;
}

.servicio1 h3, h4, h5 {
    margin: 2px;
}

.servicio2 h3, h4, h5 {
    margin: 2px;
}

.servicio3 h3, h4, h5 {
    margin: 2px;
}

.cuadro5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh;

    justify-content: center ;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.cuadro5 div {
    display: flex;
    width: 80%;
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffefe8;
    font-size: x-large;
}

.cuadro5 button {
    background-color: #ff702a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    /* border-radius: 1vw; */
    padding: 10px 25px 10px 25px;
    border: none;
    font-size: 1vw;
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40vh;
    justify-items: center;
    align-items: flex-start;
    /* justify-content: center;
    align-content: center; */
    /* text-align: center; */
    color: #fff;
    margin: 0 150px;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer h3::after {
    display: block;
    content: '';
    width: 80px;
    height: 2px;
    background-color: #ff702a;
    margin-top: 1px;
    
}

.contact div{
    flex-direction: row;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer i {
    padding: 5px;
    font-size: xx-large;
    color: #ff702a;
}


@media screen and (max-width: 400px) {
    main {
        margin: 0 0px;
    }
    /* .titulo4 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border: solid 1px red;
        width: 800px;
    } */
    .productos {
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* grid-template-rows: 1fr; */
        gap: 50px;
        /* justify-items: center; */
        border: solid 1px red;
        /* width: 800px; */
        justify-items: center;
    }

    .producto1, .producto2, .producto3 {
        display: flex;
        background-color: #ffefe8;
        padding: 2%;
        flex-direction: column;
        align-items: center;
        /* width: 20vw; */
        height: 300px;
        width: 300px;
        justify-content: center;
    }

    .productos img {
        height: 60%;
        width: 60%;
        object-fit: contain;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .servicios img {
        height: 30%;
        width: 30%;
        object-fit: contain;
    }

    .servicios p {
        /* color: #fff;
        text-align: center;
        width: 1vw;
        height: 1vw;
        font-size: clamp(15px,5vw,23px); */
        width: 335px;
    }
}